# Set

#### Sets são semelhantes aos dicionários, porém com algumas diferenças.

In [236]:
exemplo = {1,2,3,4,5,6,'a','b'}
exemplo

{1, 2, 3, 4, 5, 6, 'a', 'b'}

#### Os Sets aceitam apenas as chaves, como as listas.

#### Observe:

In [237]:
type(exemplo)

set

#### Um Set não pode ser definido sem um valor. Caso isso aconteça o python definirá essa estrutura como um dicionário!

In [238]:
exemplo2 = {}
type(exemplo2)

dict

#### Mas caso seja necessário inciar um Set em "braco", pode ser feito da seguinte forma:

#### Passando explicitamente o valor que está sendo recebido pela variável.

In [239]:
exemplo3 = set()
type(exemplo3)

set

#### Adicionando valores

In [240]:
exemplo3.add('Olá')
exemplo3.add('Mundo!')
exemplo3.add(
    ((1,2,3,4), (5,6,7,8))
)
exemplo3

{((1, 2, 3, 4), (5, 6, 7, 8)), 'Mundo!', 'Olá'}

#### Removendo valores

In [241]:
exemplo3.remove('Olá')
exemplo3

{((1, 2, 3, 4), (5, 6, 7, 8)), 'Mundo!'}

#### Removendo o último valor

In [242]:
exemplo3.pop()

'Mundo!'

In [243]:
exemplo3

{((1, 2, 3, 4), (5, 6, 7, 8))}

#### Observe: update

In [244]:
exemplo3.update('olá mundo!')

#### Iniciamente poderiamos achar que adicionáriamos o valor "olá mundo!" no Set, mas na verdade ele fez a iteração da string e adicionou.

In [245]:
exemplo3

{' ', '!', ((1, 2, 3, 4), (5, 6, 7, 8)), 'd', 'l', 'm', 'n', 'o', 'u', 'á'}

#### Note tambem que, os valores não são inseridos na ordem em que foram adicionados, e a ordem muda a medida que o código é executado.

## Mais algumas observações

In [246]:
exemplo_set = set()
exemplo_set

set()

#### Adicionando o mesmo valor repetidamente

In [247]:
exemplo_set.add(1)
exemplo_set.add(1)
exemplo_set.add(1)
exemplo_set.add(1)

#### Dessa forma podemos entender que, se o valor já existir no Set ele não vai ser aceito.

In [248]:
exemplo_set

{1}

#### Caso o valor seja passado dentro do colchete o Set vai interpretar isso como um valor único e não vai fazer a iteração

In [249]:
exemplo_set.update(['Isso aqui é uma coisa'], 'Isso aqui é outra coisa')

In [250]:
exemplo_set

{' ',
 1,
 'I',
 'Isso aqui é uma coisa',
 'a',
 'c',
 'i',
 'o',
 'q',
 'r',
 's',
 't',
 'u',
 'é'}

#### Mais um exemplo:

In [251]:
meia_duzia = {1,2,3,4,5,6}

In [252]:
dez_numeros = {1,2,3,4,5,6,7,8,9,10}

#### Só pra reforçar que: Sets não aceitam valores repetidos

In [253]:
juncao = set()
juncao.union((meia_duzia), (dez_numeros))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

#### Outra forma de unir Sets

In [254]:
juncao2 = meia_duzia | dez_numeros
juncao2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

#### Elementos presentes nos dois Sets

In [255]:
intersecao = meia_duzia & dez_numeros
intersecao

{1, 2, 3, 4, 5, 6}

#### Diferença entre os Sets

In [256]:
diferenca = meia_duzia ^ dez_numeros
diferenca

{7, 8, 9, 10}

#### Diferença no Set que está a esquerda

In [259]:
diferenca2 = meia_duzia - dez_numeros
diferenca2
# Retorna apenas o Set()

set()

In [258]:
diferenca2 = dez_numeros - meia_duzia
diferenca2

{7, 8, 9, 10}