#### split = Dividir
#### join = Juntar
#### enumerate = Enumera itens da lista - Iteraveis

# split

In [152]:
primeira_frase = 'Olá Mundo! Eu estou programando em python. Tudo bem com vocês? eu estou otimo!'

### Dividindo a frase

In [153]:
usando_split1 = primeira_frase.split(' ')
usando_split1

['Olá',
 'Mundo!',
 'Eu',
 'estou',
 'programando',
 'em',
 'python.',
 'Tudo',
 'bem',
 'com',
 'vocês?',
 'eu',
 'estou',
 'otimo!']

#### também é possível usar todas as funções de uma lista

In [154]:
# Exemplo: Ordenando a palavras por ordem alfabetica.
usando_split1.sort()
usando_split1

['Eu',
 'Mundo!',
 'Olá',
 'Tudo',
 'bem',
 'com',
 'em',
 'estou',
 'estou',
 'eu',
 'otimo!',
 'programando',
 'python.',
 'vocês?']

#### Mais exemplos do split

In [155]:
usando_split2 = primeira_frase.split('!')
usando_split2

['Olá Mundo',
 ' Eu estou programando em python. Tudo bem com vocês? eu estou otimo',
 '']

In [156]:
usando_split3 = primeira_frase.split('.')
usando_split3

['Olá Mundo! Eu estou programando em python',
 ' Tudo bem com vocês? eu estou otimo!']

#### Contando Palavras

In [157]:
for valor in usando_split1:
    print(f' Palavra: "{valor}", apareceu: "{usando_split1.count(valor)}" vezes na frase')

 Palavra: "Eu", apareceu: "1" vezes na frase
 Palavra: "Mundo!", apareceu: "1" vezes na frase
 Palavra: "Olá", apareceu: "1" vezes na frase
 Palavra: "Tudo", apareceu: "1" vezes na frase
 Palavra: "bem", apareceu: "1" vezes na frase
 Palavra: "com", apareceu: "1" vezes na frase
 Palavra: "em", apareceu: "1" vezes na frase
 Palavra: "estou", apareceu: "2" vezes na frase
 Palavra: "estou", apareceu: "2" vezes na frase
 Palavra: "eu", apareceu: "1" vezes na frase
 Palavra: "otimo!", apareceu: "1" vezes na frase
 Palavra: "programando", apareceu: "1" vezes na frase
 Palavra: "python.", apareceu: "1" vezes na frase
 Palavra: "vocês?", apareceu: "1" vezes na frase

In [158]:
compara = 0
palavra = ''
string = primeira_frase.split(' ')

for valor in string:
    quantidade_vezes  = string.count(valor)
    if quantidade_vezes > compara:
        palavra = valor 
        compara = quantidade_vezes

print(f'A palavra que mais aparece é "{palavra}", {compara} vezes!')

A palavra que mais aparece é "estou", 2 vezes!

# join

#### Separando a lista por meio de ' '

In [159]:
string = 'O Python é muito bom!'
lista = string.split(' ')
lista

['O', 'Python', 'é', 'muito', 'bom!']

#### Juntando a lista por meio de ','

In [160]:
lista2 =   ','.join(string)
lista2

'O, ,P,y,t,h,o,n, ,é, ,m,u,i,t,o, ,b,o,m,!'

#### juntando a lista por meio de ' '

In [161]:
lista2 = ' '.join(string)
lista2

'O   P y t h o n   é   m u i t o   b o m !'

# enumetare

In [162]:
string = 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.'
lista = string.split(' ')

#### Enumerando uma lista

In [163]:
for indice, valor in enumerate(lista):
    print(f'indice: {indice}, valor: {valor}')

indice: 0, valor: Lorem
indice: 1, valor: Ipsum
indice: 2, valor: is
indice: 3, valor: simply
indice: 4, valor: dummy
indice: 5, valor: text
indice: 6, valor: of
indice: 7, valor: the
indice: 8, valor: printing
indice: 9, valor: and
indice: 10, valor: typesetting
indice: 11, valor: industry.

#### Mais exemplo de enumerate

In [164]:
lista =[ 
    ['Wesley', 'Matheus', 'Farias'],
    ['Peludo', 'Billi', 'Morgana'],
    ['Thor', 'Yasuo', 'Ragnar']
]

#### Entendendo que:

In [165]:
lista_enumerada = enumerate(lista)
list(lista_enumerada)

[(0, ['Wesley', 'Matheus', 'Farias']),
 (1, ['Peludo', 'Billi', 'Morgana']),
 (2, ['Thor', 'Yasuo', 'Ragnar'])]

#### ou seja: Pegando o valor da linha 1 na coluna 2

In [166]:
lista[1][2]

'Morgana'

#### Valor da linha 0 na coluna 1

In [167]:

lista[0][1]

'Matheus'